/* 
barchart.css
Berend Nannes
Data Processing
*/

.title {
	position: absolute;
	font: bold 25px consolas;
	top: 15px;
}

.bar {
  fill: rgba(60, 193, 173, 0.8);
}

.bar:hover {
  fill: rgba(60, 193, 173, 1);
}

.axis text {
  font: 12px consolas;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 40px;					
    height: 14px;									
    font: 11px consolas;								
}